*{
    font-family: Arial, Helvetica,sans-serif; 
}

body{
    background-image: linear-gradient(to right, #F2CB57, #F2BE5C);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #831a1a;
    width: 600px;
    padding: 10px;
    margin: auto
}
h1{
    color: #A6212C;
    text-align: center;
    text-shadow: 1px 1px 2px #5e1419;
}

h2{
    color:#F25C78 ;
}

p{
    text-align: justify;
}